
{{#with toilet}}
<h1>{{toiletType}} toilet: </h1>

<div>
{{#if price}}
<h2>Price: {{price}}€</h2>
{{else}}
<h2>Price: free</h2>
{{/if}}
</div>

<div>
{{#if cleanliness}}
<p>Cleanliness: {{cleanliness}}</p>
{{/if}}
</div>


<div>
{{#if experience}}
<p>Experiences: {{experience}}</p>
{{/if}}
</div>


<div>
{{#if soap}}
<p>{{soap}}</p>
{{/if}}
</div>





<div></div>
<div>
{{#if handDryer}}
<p>{{handDryer}}</p>
{{/if}}
</div>
<div>
{{#if paperTowels}}
</p>{{paperTowels}}</p>
{{/if}}
</div>
<div>
  {{#if clothTowels}}
<p> {{clothTowels}}</p>
{{/if}}
</div>
<div>
  {{#if other}}
<p> {{other}}</p>
{{/if}}
</div>
<div>
  {{#if none}}
<p> {{none}}</p>
{{/if}}
</div>
</div>


<div>
<div>
{{#if tableMen}}
<p>{{tableMen}}</p>
{{/if}}
</div>
<div>
{{#if tableWomen}}
<p>{{tableWomen}}</p>
{{/if}}
</div>
<div>
{{#if products}}
<p>{{products}}</p>
{{/if}}
</div>
<div>
{{#if trash}}
<p>{{trash}}</p>
{{/if}}
</div>
</div>



{{/with}}


<h2>figure out image upload routing</h2>

{{#if showDelete}}
<a href="/toilets/{{toilet.id}}/delete">Delete this toilet</a>
<a href="/toilets/edit/{{toilet.id}}">Edit Toilet</a>
{{/if}}



<a href="/">Back to map</a>