{{#with toilet}}
<h1>{{toiletType}} toilet: </h1>
{{!-- warum geht toiletType jetzt nicht mehr --}}


{{#if price}}
<h2>Price: {{price}}€</h2>
{{else}}
<h2>Price: free</h2>
{{/if}}

{{#if cleanliness}}
<p>Cleanliness: {{cleanliness}}</p>

<p>Experiences: {{experience}}</p>

<p>Soap: {{soap}}</p>

{{/if}}

<div>

</div>



{{/with}}


<h2>figure out image upload routing</h2>

{{#if showDelete}}
<a href="/toilets/{{toilet.id}}/delete">Delete this toilet</a>
{{/if}}

<a href="/">Back to map</a>