{{#with toilet}}
<h1>{{toiletType}} toilet: </h1>

<div>
  {{#if price}}
  <h2>Price: {{price}}€</h2>
  {{else}}
  <h2>Price: free</h2>
  {{/if}}
</div>

<div>
  {{#if cleanliness}}
  <p>Cleanliness: {{cleanliness}} (where 5 is best)</p>
  {{/if}}
</div>


<div>
  {{#if experience}}
  <p>Experiences: {{experience}}</p>
  {{/if}}
</div>


<div>
  {{#if soap}}
  <p>{{soap}}</p>
  {{/if}}
</div>





<div></div>
<div>
  {{#if handDryer}}
  <p>{{handDryer}}</p>
  {{/if}}
</div>
<div>
  {{#if paperTowels}}
  </p>{{paperTowels}}</p>
  {{/if}}
</div>
<div>
  {{#if clothTowels}}
  <p> {{clothTowels}}</p>
  {{/if}}
</div>
<div>
  {{#if other}}
  <p> {{other}}</p>
  {{/if}}
</div>
<div>
  {{#if none}}
  <p> ❌ no drying options</p>
  {{/if}}
</div>
</div>


<div>
  <div>
    {{#if tableMen}}
    <p> ✔️  Changing table in men's room</p>
    {{/if}}
  </div>
  <div>
    {{#if tableWomen}}
    <p>{{tableWomen}}</p>
    {{/if}}
  </div>
  <div>
    {{#if products}}
    <p>{{products}}</p>
    {{/if}}
  </div>
  <div>
    {{#if trash}}
    <p>{{trash}}</p>
    {{/if}}
  </div>
</div>



<div>
  <div>
    {{#if genderSensitivity}}
    <p>{{genderSensitivity}}</p>
    {{/if}}
  </div>
  {{#if barrierFree}}
  <p>{{barrierFree}}</p>
  {{/if}}
</div>


<div>
  {{#if comment}}
  <p>Comment: {{comment}}</p>
  {{else}}
  <p>No additional comments</p>
  {{/if}}
</div>

{{/with}}


<h2>figure out image upload routing</h2>

{{!-- {{#if showDelete}} --}}
<a href="/toilets/{{toilet.id}}/delete">Delete this toilet</a>
<a href="/toilets/edit/{{toilet.id}}">Edit Toilet</a>
{{!-- {{/if}} --}}



<a href="/">Back to map</a>